/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}
main,
article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}
/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}
/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:
#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}
/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
th {
  font-weight: bold;
  vertical-align: bottom;
}
td {
  font-weight: normal;
  vertical-align: top;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}
select,
input,
textarea {
  font: 99% sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
td,
td img {
  vertical-align: top;
}
/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}
/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}
/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}
.button {
  display: inline-block;
  padding: 0.3125rem 0.78125rem;
  color: #fff;
  -webkit-appearance: none;
  border-width: 0;
  border-radius: 0.15625rem;
  font-size: 14px;
  user-select: none;
}
[data-dpr="2"] .button {
  font-size: 28px;
}
[data-dpr="3"] .button {
  font-size: 42px;
}
.button:focus {
  outline: none;
}
.button.primary {
  background-color: blue;
}
.button.red {
  background-color: #d90116;
}
.button.black {
  background-color: #000;
}
.button.small {
  padding: 0.05rem;
}
.radio,
.checkbox {
  position: relative;
  display: inline-block;
}
.radio input[type="radio"],
.checkbox input[type="radio"],
.radio input[type="checkbox"],
.checkbox input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 17px;
  opacity: 0;
  vertical-align: middle;
}
.radio input[type="radio"] + label,
.checkbox input[type="radio"] + label,
.radio input[type="checkbox"] + label,
.checkbox input[type="checkbox"] + label {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  padding-left: 20px;
  vertical-align: middle;
  font-size: 14px;
  color: #717171;
}
[data-dpr="2"] .radio input[type="radio"] + label,
[data-dpr="2"] .checkbox input[type="radio"] + label,
[data-dpr="2"] .radio input[type="checkbox"] + label,
[data-dpr="2"] .checkbox input[type="checkbox"] + label {
  font-size: 28px;
}
[data-dpr="3"] .radio input[type="radio"] + label,
[data-dpr="3"] .checkbox input[type="radio"] + label,
[data-dpr="3"] .radio input[type="checkbox"] + label,
[data-dpr="3"] .checkbox input[type="checkbox"] + label {
  font-size: 42px;
}
.radio input[type="radio"] + label::after,
.checkbox input[type="radio"] + label::after,
.radio input[type="checkbox"] + label::after,
.checkbox input[type="checkbox"] + label::after,
.radio input[type="radio"] + label::before,
.checkbox input[type="radio"] + label::before,
.radio input[type="checkbox"] + label::before,
.checkbox input[type="checkbox"] + label::before {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  z-index: -1;
}
.radio input[type="radio"] + label::before,
.checkbox input[type="radio"] + label::before,
.radio input[type="checkbox"] + label::before,
.checkbox input[type="checkbox"] + label::before {
  width: 13px;
  height: 13px;
  left: 2px;
  top: 2px;
}
.radio input[type="radio"]:checked + label::before,
.checkbox input[type="radio"]:checked + label::before,
.radio input[type="checkbox"]:checked + label::before,
.checkbox input[type="checkbox"]:checked + label::before {
  background-color: #000;
}
.checkbox input[type="checkbox"] {
  width: 15px;
  height: 15px;
}
.checkbox input[type="checkbox"] + label::after,
.checkbox input[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 0.0625rem;
}
.checkbox input[type="checkbox"] + label::before {
  border: none;
}
.checkbox input[type="checkbox"]:checked + label::before {
  left: 0;
  top: 0;
  background: url('../../assets/images/checkbox.png') no-repeat center center;
  background-size: contain;
}
.header {
  display: flex;
  height: 1.40625rem;
  line-height: 1.40625rem;
  border-bottom: 0.03125rem solid #bcbcbc;
  text-align: center;
  align-items: center;
}
.header .right,
.header .left {
  width: 1.40625rem;
  font-size: 16px;
}
[data-dpr="2"] .header .right,
[data-dpr="2"] .header .left {
  font-size: 32px;
}
[data-dpr="3"] .header .right,
[data-dpr="3"] .header .left {
  font-size: 48px;
}
.header .title {
  padding: 0 0.3125rem;
  flex: 1;
  font-size: 16px;
}
[data-dpr="2"] .header .title {
  font-size: 32px;
}
[data-dpr="3"] .header .title {
  font-size: 48px;
}
.compute-box {
  display: flex;
  width: 2.1875rem;
  font-size: 12px;
  line-height: 0.5rem;
  background-color: #fff;
  text-align: center;
  border: 1px solid #cacaca;
  color: #000;
}
[data-dpr="2"] .compute-box {
  font-size: 24px;
}
[data-dpr="3"] .compute-box {
  font-size: 36px;
}
.compute-box .minus,
.compute-box .plus {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ededed;
}
.compute-box .minus {
  border-right: 1px solid #cacaca;
}
.compute-box .plus {
  border-left: 1px solid #cacaca;
}
.compute-box .shower {
  flex: 1;
}
.loader {
  height: 1.40625rem;
  line-height: 1.40625rem;
  font-size: 12px;
  text-align: center;
  color: #b3b3b3;
  vertical-align: middle;
}
[data-dpr="2"] .loader {
  font-size: 24px;
}
[data-dpr="3"] .loader {
  font-size: 36px;
}
.loader .loader-icon {
  display: inline-block;
  position: relative;
  margin-right: 0.15625rem;
  width: 0.333333rem;
  height: 0.333333rem;
  line-height: normal;
  vertical-align: middle;
  background: url('../../assets/images/loading.png') no-repeat center center;
  background-size: cover;
}
.loader .loader-icon.loading {
  animation: loading 0.5s infinite;
}
.loader span {
  line-height: normal;
  vertical-align: middle;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
}
.search {
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: normal;
}
.search .icon {
  position: absolute;
  left: 0.15625rem;
  top: 1px;
  width: 0.625rem;
  height: 0.625rem;
  background: url('../../assets/images/white-zoom.png') no-repeat center center;
  background-size: 0.5rem;
}
.search input {
  padding-left: 0.9375rem;
  width: 100%;
  height: 0.625rem;
  line-height: 0.625rem;
  border: none;
  background-color: #aca094;
  border-radius: 0.625rem;
  color: #fff;
  font-size: 12px;
}
[data-dpr="2"] .search input {
  font-size: 24px;
}
[data-dpr="3"] .search input {
  font-size: 36px;
}
.search input:focus {
  outline: none;
}
.search input::-webkit-input-placeholder {
  color: #fff;
}
.floor-title {
  padding: 0.46875rem 0.3125rem 0.3125rem;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}
[data-dpr="2"] .floor-title {
  font-size: 32px;
}
[data-dpr="3"] .floor-title {
  font-size: 48px;
}
.floor-title em {
  padding: 0 0.066667rem;
  font-style: normal;
  background-color: #d90116;
  color: #fff;
}
.card {
  width: 5.0rem;
}
.card a {
  display: block;
  text-decoration: none;
}
.card .card-header {
  height: 2.933333rem;
  background-color: #eaeaea;
}
.card .card-header img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}
.card .card-footer {
  display: flex;
  padding: 0.266667rem 0 0;
  justify-content: space-between;
  align-items: baseline;
}
.card .card-footer > div {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card-footer .p-name {
  font-size: 14px;
  color: #444;
}
[data-dpr="2"] .card .card-footer .p-name {
  font-size: 28px;
}
[data-dpr="3"] .card .card-footer .p-name {
  font-size: 42px;
}
.card .card-footer .p-category {
  font-size: 12px;
  color: #ccc;
}
[data-dpr="2"] .card .card-footer .p-category {
  font-size: 24px;
}
[data-dpr="3"] .card .card-footer .p-category {
  font-size: 36px;
}
.card .card-footer .p-price {
  font-size: 14px;
  color: #d90116;
  text-align: right;
}
[data-dpr="2"] .card .card-footer .p-price {
  font-size: 28px;
}
[data-dpr="3"] .card .card-footer .p-price {
  font-size: 42px;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -0.16rem;
}
.grid > .column {
  display: inline-block;
  padding: 0.16rem;
  vertical-align: top;
}
.grid > .column.two {
  width: 50%;
}
.grid > .column.three {
  width: 33.33333333%;
}
.grid > .column.four {
  width: 25%;
}
.footer-wrapper {
  height: 1.2rem;
}
.footer-wrapper .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 1.2rem;
  background-color: #fff;
  border-top: 1px solid #bcbcbc;
}
.footer-wrapper .footer .tab {
  display: block;
  flex: 1;
  height: inherit;
  line-height: 1.40625rem;
  color: #b3b3b3;
  text-decoration: none;
  text-align: center;
}
.footer-wrapper .footer .tab i.iconfont {
  font-size: 25px;
}
[data-dpr="2"] .footer-wrapper .footer .tab i.iconfont {
  font-size: 50px;
}
[data-dpr="3"] .footer-wrapper .footer .tab i.iconfont {
  font-size: 75px;
}
.footer-wrapper .footer .tab.active {
  color: #aca094;
}
.footer-wrapper .footer .tab.notify i {
  position: relative;
}
.footer-wrapper .footer .tab.notify i::after {
  display: block;
  content: '';
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 0.125rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d90116;
}
@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
body {
  background: url('../../assets/images/bg.jpg') repeat;
}
.home-page.header {
  height: 1.5625rem;
  line-height: 1.5625rem;
}
.home-page.header .left {
  padding-left: 0.266667rem;
  width: auto;
  max-width: 3.125rem;
  height: 1.5625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}
[data-dpr="2"] .home-page.header .left {
  font-size: 28px;
}
[data-dpr="3"] .home-page.header .left {
  font-size: 42px;
}
.home-page.header .left a {
  width: 100%;
  height: 100%;
  color: #717171;
  text-decoration: none;
  vertical-align: middle;
}
.home-page.header .right {
  width: 1.5625rem;
}
.home-page.header .scan {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../../assets/images/scan.png') no-repeat center center;
  background-size: 0.78125rem;
  text-indent: -9999999px;
}
.main img {
  width: 100%;
}
#scroll-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1.2rem;
  width: 100%;
  overflow: hidden;
}
.content {
  max-width: 10.0rem;
  margin-left: auto;
  margin-right: auto;
}
.floor {
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide img {
  width: 100%;
}
.swiper-pagination-bullet {
  width: 0.2rem;
  height: 0.2rem;
  background: transparent;
  border: 1px solid #fff;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.brand .tabs {
  display: flex;
  height: 1.6rem;
  background-color: #fff;
  align-items: center;
  justify-content: center;
}
.brand .tabs .tab {
  flex: 1;
  font-size: 16px;
  text-align: center;
}
[data-dpr="2"] .brand .tabs .tab {
  font-size: 32px;
}
[data-dpr="3"] .brand .tabs .tab {
  font-size: 48px;
}
.brand .tabs .tab a {
  display: inline-block;
  padding: 0.266667rem 0.666667rem;
  color: #323232;
  text-decoration: none;
}
.brand .tabs .tab.active > a {
  color: #d90116;
  border-bottom: 1px solid #d90116;
}
.brand .brand-list li,
.brand .esthetics-list li {
  border-bottom: 1px solid #b3b3b3;
}
.brand .brand-list a,
.brand .esthetics-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
[data-dpr="2"] .brand .brand-list a,
[data-dpr="2"] .brand .esthetics-list a {
  font-size: 32px;
}
[data-dpr="3"] .brand .brand-list a,
[data-dpr="3"] .brand .esthetics-list a {
  font-size: 48px;
}
.brand .brand-list a > div,
.brand .esthetics-list a > div {
  padding: 0.4rem 0.266667rem;
  flex: 1;
  text-align: center;
}
.brand .brand-list a .title,
.brand .esthetics-list a .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.brand .brand-list a .border-img,
.brand .esthetics-list a .border-img {
  display: inline-block;
  width: 2.08rem;
  height: 2.08rem;
  border-radius: 2.08rem;
  overflow: hidden;
}
.brand .brand-list a img,
.brand .esthetics-list a img {
  width: 100%;
  height: 100%;
}
.brand .esthetics-list {
  padding-bottom: 0.666667rem;
}
.brand .esthetics-list li {
  border: none;
}
.brand .esthetics-list .link-list {
  padding: 0.666667rem 0;
  background-color: #fff;
  font-size: 0;
  box-sizing: content-box;
  overflow: hidden;
}
.brand .esthetics-list .link-list .item {
  display: inline-block;
  padding: 0 0.533333rem;
  width: 50%;
  height: 0.973333rem;
  box-sizing: border-box;
  text-align: center;
}
.brand .esthetics-list .link-list .item.show-more {
  text-indent: -999999px;
  background: url('../../assets/images/down.png') no-repeat center center;
  background-size: 0.6rem auto;
}
.brand .esthetics-list .link-list a {
  display: inline-block;
  padding: 0.266667rem 0.133333rem;
  max-width: 100%;
  font-size: 16px;
  color: #717171;
  border-bottom: 1px solid #717171;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
[data-dpr="2"] .brand .esthetics-list .link-list a {
  font-size: 32px;
}
[data-dpr="3"] .brand .esthetics-list .link-list a {
  font-size: 48px;
}
.brand .esthetics-list .link-list .list-wrap {
  height: 100%;
  overflow: hidden;
}
.brand .esthetics-list .link-list.hide {
  height: 2.933333rem;
}
