@import url(variables);
@import url(functions);

.button{
	display: inline-block;
	padding: 0.125rem;
	color: #fff;
	-webkit-appearance: none;
	border-width: 0;
	border-radius: 0;
	.font-dpr(14px);
	user-select: none;
	&:focus{
		outline: none;
	}
	&.primary{
		background-color: blue;
	}
	&.red{
		background-color: red;
	}
	&.small{
		padding: 0.05rem;
	}
}
.header{
	display: flex;
	height: 1.2rem;
	border-bottom: 0.013333rem solid @border-color;
	background: url('@{imgPath}/hello.png');
}